/*Colores: #94FAA6
           #8FDE83
           #C7F59D
           #CFDE83
           #FAF594 */

body{
    background-color:#C7F59D;
}

.logoAlura{
    background-image: url(images/aluragreen.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    margin-left: 7%;
    margin-top: 3%;
}

main{
    text-align: center;
}

.container{
    margin-top: 15%;
}

input{
    margin-bottom: 9%;
    width: 30%;
    height: 80%;
    border-radius: 68px;   
    font-family: 'Press Start 2P', cursive;
}

.buttonIniciar{
    background-color: #FAF594;
    border: 1px solid #FAF594;
    color: #8FDE83;
    font-size: xx-large;
}

.buttonNuevaPalabra{
    width: 42%;
    background-color: #CFDE83;
    border: 1px solid #CFDE83;
    color: #FAF594;
    font-size: xx-large;
}

.containerJuego{
    display: none;
    margin-top: 0;
}

.horca{
    justify-content: center;
}

.imagenAhorcado {
    height: 45vh;
    width: 33%;
    background-color: #FAF594;
    border-radius: 68px;
    background-image: url("images/horca.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.letrasAdivinadas{
    height: 20vh;
    margin: 2% 0;
}

.letras{
    justify-content: center;
    margin-bottom: -2vw;
}

.letras p{
    display: contents;
    font-family: 'Press Start 2P', cursive;
    font-size: 10vh;
    color: #FAF594;
}

.espacios{
    justify-content: center;
}

.espacios p{
    display: contents;
    font-family: 'Press Start 2P', cursive;
    font-size: 10vh;
    color: #FAF594;
}

.claseLetra{
    margin-left: 115vw;
}

.botonera{
    height: 15vh;
    
}

.buttonAlgo{
    width: 20vw;
    margin-top: 10%;
    background-color: #FAF594;
    border: 1px solid #FAF594;
    color: #8FDE83;
}

.buttonTerminar{
    width: 20vw;
    margin-top: 10%;
    background-color: #CFDE83;
    border: 1px solid #CFDE83;
    color: #FAF594;
}
